create database [QUAN_LY_BAN_QUAN_AO_THE_THAO]
go
USE [QUAN_LY_BAN_QUAN_AO_THE_THAO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_TICH_DIEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_KH] [int] NULL,
	[MA] [varchar](50) NULL,
	[DIEMTICH] [int] NULL,
	[TIENDUOCGIAN] [bigint] NULL,
 CONSTRAINT [PK_BANG_TICH_DIEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_LIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHAT_LIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[ID_NV] [int] NULL,
	[ID_KH] [int] NULL,
	[MAPGG] [varchar](50) NULL,
	[NGAYTAO] [datetime] NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[TIENGIAM] [bigint] NULL,
	[TONGTIEN] [bigint] NULL,
	[TIENKHACHDUA] [bigint] NULL,
	[TIENTHUA] [bigint] NULL,
	[TIENKHACHPHAITRA] [bigint] NULL,
	[HINHTHUCTHANHTOAN] [bit] NULL,
	[MACHUYENKHOAN] [varchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_CT](
	[ID_HD] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SPCT] [int] NULL,
	[KICHCO] [varchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [bigint] NULL,
 CONSTRAINT [PK_HOA_DON_CT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[GIOTINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KICH_CO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[LOAISANPHAM] [nvarchar](50) NULL,
	[KICHCO] [varchar](50) NULL,
	[RONGVAI] [varchar](50) NULL,
	[EO] [varchar](50) NULL,
	[DAI] [varchar](50) NULL,
	[CANNANG] [varchar](50) NULL,
	[CHIEUCAO] [varchar](50) NULL,
 CONSTRAINT [PK_KICH_CO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHETHAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAITHETHAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAU_SAC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAU_SAC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOTINH] [bit] NULL,
	[SDT] [varchar](50) NULL,
	[CCCD] [varchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[CHUVU] [bit] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_GIAM_GIA_CHI_TIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[LUOTSUDUNG] [int] NULL,
	[DIEUKHOAN] [nvarchar](50) NULL,
	[GIATRI] [bigint] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_PHIEU_GIAM_GIA_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_TRA_CHI_TIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PIEU_DOI_TRA] [int] NULL,
	[ID_SPCT] [int] NULL,
	[GIASP] [bigint] NULL,
	[TRANGTHAI] [bit] NULL,
	[LIDOA] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEU_TRA_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDOITRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_HD] [int] NULL,
	[NGAYDT] [datetime] NULL,
	[TRONGTIEN] [bigint] NULL,
 CONSTRAINT [PK_PHIEUDOITRA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

delete from PHIEU_TRA_CHI_TIET

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[LOAISANPHAM] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM_CHI_TIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[MAVACH] [varchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[ID_SP] [int] NULL,
	[ID_TH] [int] NULL,
	[ID_LTT] [int] NULL,
	[ID_KC] [int] NULL,
	[ID_MS] [int] NULL,
	[ID_CL] [int] NULL,
	[GIANHAP] [bigint] NULL,
	[GIABAN] [bigint] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_SAN_PHAM_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_NV] [int] NULL,
	[TENDANGNHAP] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONG_HIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_THUONG_HIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANG_TICH_DIEM] ON 

INSERT [dbo].[BANG_TICH_DIEM] ([ID], [ID_KH], [MA], [DIEMTICH], [TIENDUOCGIAN]) VALUES (2, 5, N'BTD5', 31000, 3100)
INSERT [dbo].[BANG_TICH_DIEM] ([ID], [ID_KH], [MA], [DIEMTICH], [TIENDUOCGIAN]) VALUES (3, 6, N'BTD6', 414000, 90000)
INSERT [dbo].[BANG_TICH_DIEM] ([ID], [ID_KH], [MA], [DIEMTICH], [TIENDUOCGIAN]) VALUES (4, 7, N'BTD7', 100000, 10000)
SET IDENTITY_INSERT [dbo].[BANG_TICH_DIEM] OFF
GO
SET IDENTITY_INSERT [dbo].[CHAT_LIEU] ON 

INSERT [dbo].[CHAT_LIEU] ([ID], [MA], [TEN]) VALUES (4, N'CL01', N'Vải Cotton')
INSERT [dbo].[CHAT_LIEU] ([ID], [MA], [TEN]) VALUES (5, N'CL02', N'Vải Polyester')
INSERT [dbo].[CHAT_LIEU] ([ID], [MA], [TEN]) VALUES (6, N'CL03', N'Vải Nylon')
SET IDENTITY_INSERT [dbo].[CHAT_LIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([ID], [MA], [ID_NV], [ID_KH], [MAPGG], [NGAYTAO], [NGAYTHANHTOAN], [TIENGIAM], [TONGTIEN], [TIENKHACHDUA], [TIENTHUA], [TIENKHACHPHAITRA], [HINHTHUCTHANHTOAN], [MACHUYENKHOAN], [TRANGTHAI]) VALUES (41, N'HD39', 1, 9, N'PGG02', CAST(N'2023-11-16T00:00:00.000' AS DateTime), CAST(N'2023-11-16T00:00:00.000' AS DateTime), 20000, 300000, 280000, 0, 280000, 1, N'', 1)
INSERT [dbo].[HOA_DON] ([ID], [MA], [ID_NV], [ID_KH], [MAPGG], [NGAYTAO], [NGAYTHANHTOAN], [TIENGIAM], [TONGTIEN], [TIENKHACHDUA], [TIENTHUA], [TIENKHACHPHAITRA], [HINHTHUCTHANHTOAN], [MACHUYENKHOAN], [TRANGTHAI]) VALUES (43, N'HD41', 1, 9, N'', CAST(N'2023-11-16T00:00:00.000' AS DateTime), CAST(N'2023-11-16T00:00:00.000' AS DateTime), 0, 0, 0, 0, 0, 0, N'', 0)
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
GO



SET IDENTITY_INSERT [dbo].[HOA_DON_CT] ON 

INSERT [dbo].[HOA_DON_CT] ([ID_HD], [ID], [ID_SPCT], [KICHCO], [SOLUONG], [DONGIA]) VALUES (41, 47, 26, N'L', 2, 300000)
SET IDENTITY_INSERT [dbo].[HOA_DON_CT] OFF
GO


SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([ID], [MA], [HOTEN], [EMAIL], [SDT], [GIOTINH], [NGAYSINH], [DIACHI], [TRANGTHAI]) VALUES (5, N'KH01', N'Nguyễn Thanh Tùng', N'tungnt@gmail.com', N'0923423433', 1, CAST(N'2003-03-07' AS Date), N'HN', 0)
INSERT [dbo].[KHACH_HANG] ([ID], [MA], [HOTEN], [EMAIL], [SDT], [GIOTINH], [NGAYSINH], [DIACHI], [TRANGTHAI]) VALUES (6, N'KH02', N'Đoàn Văn Hậu', N'vanhaudoan2954@gmail.com', N'0345346399', 1, CAST(N'2003-07-05' AS Date), N'TB', 1)
INSERT [dbo].[KHACH_HANG] ([ID], [MA], [HOTEN], [EMAIL], [SDT], [GIOTINH], [NGAYSINH], [DIACHI], [TRANGTHAI]) VALUES (7, N'KH03', N'Nguyễn Quang Hải', N'quanghai97@gmail.com', N'0956335390', 1, CAST(N'2003-09-10' AS Date), N'HN', 1)


SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
select*from KHACH_HANG


SET IDENTITY_INSERT [dbo].[KICH_CO] ON 

INSERT [dbo].[KICH_CO] ([ID], [MA],  [KICHCO]) VALUES (1, N'KC01', N'S')
INSERT [dbo].[KICH_CO] ([ID], [MA],  [KICHCO]) VALUES (2, N'KC02',  N'M')
INSERT [dbo].[KICH_CO] ([ID], [MA],  [KICHCO]) VALUES (3, N'KC03',N'L')
SET IDENTITY_INSERT [dbo].[KICH_CO] OFF

GO


SET IDENTITY_INSERT [dbo].[LOAITHETHAO] ON 
INSERT [dbo].[LOAITHETHAO] ([ID], [MA], [TEN]) VALUES (3, N'LTT01', N'Bóng đá')
INSERT [dbo].[LOAITHETHAO] ([ID], [MA], [TEN]) VALUES (4, N'LTT02', N'Cầu lông')
INSERT [dbo].[LOAITHETHAO] ([ID], [MA], [TEN]) VALUES (5, N'LTT03', N'Bóng chuyền')
SET IDENTITY_INSERT [dbo].[LOAITHETHAO] OFF
GO
SET IDENTITY_INSERT [dbo].[MAU_SAC] ON 

INSERT [dbo].[MAU_SAC] ([ID], [MA], [TEN]) VALUES (3, N'MS01', N'Xanh')
INSERT [dbo].[MAU_SAC] ([ID], [MA], [TEN]) VALUES (4, N'MS02', N'Đỏ')
INSERT [dbo].[MAU_SAC] ([ID], [MA], [TEN]) VALUES (5, N'MS03', N'Xanh dương')
SET IDENTITY_INSERT [dbo].[MAU_SAC] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON 

INSERT [dbo].[NHAN_VIEN] ([ID], [MA], [HOTEN], [GIOTINH], [SDT], [CCCD], [NGAYSINH], [DIACHI], [EMAIL], [CHUVU], [TRANGTHAI]) VALUES (1, N'NV1', N'Nguyễn Bá Anh Toàn', 1, N'0388198352', N'001200028879', CAST(N'2000-09-10T00:00:00.000' AS DateTime), N'HN', N'toannbaph30055@fpt.edu.vn', 0, 1)
INSERT [dbo].[NHAN_VIEN] ([ID], [MA], [HOTEN], [GIOTINH], [SDT], [CCCD], [NGAYSINH], [DIACHI], [EMAIL], [CHUVU], [TRANGTHAI]) VALUES (3, N'NV2', N'Nguyễn Thế Anh', 1, N'0388195355', N'123456789101', CAST(N'2003-07-03T00:00:00.000' AS DateTime), N'HN', N'theanh03@gmail.com', 1, 1)
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
GO

select*from NHAN_VIEN



SET IDENTITY_INSERT [dbo].[PHIEU_GIAM_GIA_CHI_TIET] ON 
INSERT [dbo].[PHIEU_GIAM_GIA_CHI_TIET] ([ID], [MA], [TEN], [NGAYBATDAU], [NGAYKETTHUC], [LUOTSUDUNG], [DIEUKHOAN], [GIATRI], [TRANGTHAI]) VALUES (6, N'PGG01', N'Giảm giá tháng 10', CAST(N'2023-10-01T00:00:00.000' AS DateTime), CAST(N'2023-10-31T00:00:00.000' AS DateTime), 10, N'Áp dụng mội hóa đơn', 20000, 0)
INSERT [dbo].[PHIEU_GIAM_GIA_CHI_TIET] ([ID], [MA], [TEN], [NGAYBATDAU], [NGAYKETTHUC], [LUOTSUDUNG], [DIEUKHOAN], [GIATRI], [TRANGTHAI]) VALUES (7, N'PGG02', N'Giảm giá tháng 11', CAST(N'2023-11-01T00:00:00.000' AS DateTime), CAST(N'2023-11-30T00:00:00.000' AS DateTime), 10, N'Áp dụng mội hóa đơn', 10000, 1)



SET IDENTITY_INSERT [dbo].[PHIEU_GIAM_GIA_CHI_TIET] OFF
GO



SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON 

INSERT [dbo].[SAN_PHAM] ([ID], [MA], [TEN], [LOAISANPHAM], [SOLUONG]) VALUES (5, N'SP01', N'Quần thể thao dài', N'Quần', NULL)
INSERT [dbo].[SAN_PHAM] ([ID], [MA], [TEN], [LOAISANPHAM], [SOLUONG]) VALUES (8, N'SP04', N'Quần short thể thao', N'Quần', NULL)
INSERT [dbo].[SAN_PHAM] ([ID], [MA], [TEN], [LOAISANPHAM], [SOLUONG]) VALUES (12, N'SP08', N'Bộ Quần Áo Bóng Đá', N'Quần Áo', NULL)
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
GO

UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Quần thể thao dài thu đông 2023' WHERE [ID] = 5;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Quần short thể thao hè 2023' WHERE [ID] = 8;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ Quần áo bóng đá CLB Liverpool' WHERE [ID] = 12;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Áo thủ môn CLB MU' WHERE [ID] = 13;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ Quấn áo bóng rổ phong cách Hàn Quốc' WHERE [ID] = 15;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ Võ phục Judo cao cấp' WHERE [ID] = 16;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Áo Judo lẻ kèm đai' WHERE [ID] = 17;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Quần Judo lẻ VĐV chuyên nghiêp' WHERE [ID] = 18;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ quần áo cầu lông thi đấu chuyên nghiệp' WHERE [ID] = 22;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Áo cầu lông cao cấp' WHERE [ID] = 23;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ quần áo đạp xe chuyên dụng' WHERE [ID] = 24;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ quần áo đạp xe ngắn tay cao cấp' WHERE [ID] = 26;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ quần áo bóng chuyền cộc tay cao cấp' WHERE [ID] = 27;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Áo bóng chuyền sát nách cao cấp' WHERE [ID] = 28;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Bộ quần áo điền kinh cao cấp' WHERE [ID] = 29;
UPDATE [dbo].[SAN_PHAM] SET [TEN] = N'Áo chạy điền kinh sát nách' WHERE [ID] = 30;

SET IDENTITY_INSERT [dbo].[SAN_PHAM_CHI_TIET] ON 

INSERT [dbo].[SAN_PHAM_CHI_TIET] ([ID], [MA], [MAVACH], [MOTA], [SOLUONG], [ID_SP], [ID_TH], [ID_LTT], [ID_KC], [ID_MS], [ID_CL], [GIANHAP], [GIABAN], [TRANGTHAI]) VALUES (11, N'SPCT02', N'222222222', N'Quân thể thao thoáng mát', 21, 8, 4, 4, 1, 3, 6, 70000, 105000, 1)
INSERT [dbo].[SAN_PHAM_CHI_TIET] ([ID], [MA], [MAVACH], [MOTA], [SOLUONG], [ID_SP], [ID_TH], [ID_LTT], [ID_KC], [ID_MS], [ID_CL], [GIANHAP], [GIABAN], [TRANGTHAI]) VALUES (12, N'SPCT03', N'222222232', N'Quân thể thao thoáng mát', 24, 8, 4, 4, 2, 3, 6, 60000, 90000, 1)
INSERT [dbo].[SAN_PHAM_CHI_TIET] ([ID], [MA], [MAVACH], [MOTA], [SOLUONG], [ID_SP], [ID_TH], [ID_LTT], [ID_KC], [ID_MS], [ID_CL], [GIANHAP], [GIABAN], [TRANGTHAI]) VALUES (13, N'SPCT04', N'222222256', N'Quân thể thao thoáng mát', 3, 8, 4, 4, 3, 3, 6, 60000, 90000, 1)
SET IDENTITY_INSERT [dbo].[SAN_PHAM_CHI_TIET] OFF
GO

UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Thấm hút mồ hôi, độ co giãn tốt', 
[MAVACH]=N'5901234123457'
WHERE [ID_SP] = 8;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Chất liệu cao cấp', 
[MAVACH]=N'1321412341239'
WHERE [ID_SP] = 12;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Không nhăn, không xù, không phai', 
[MAVACH]=N'1234567890128'
WHERE [ID_SP] = 13;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Thoáng khí, chất liệu cao cấp', 
[MAVACH]=N'8934674012415'
WHERE [ID_SP] = 15;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Chống mài mòn, thoáng khí', 
[MAVACH]=N'9780486996844'
WHERE [ID_SP] = 16;
--chưa có mã vạch
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Thoáng khí, không phai màu', 
[MAVACH]=N''
WHERE [ID_SP] = 17;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Rộng rãi, thoải mái', 
[MAVACH]=N''
WHERE [ID_SP] = 18;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Thoáng khí, thấm hút mồ hôi', 
[MAVACH]=N''
WHERE [ID_SP] = 22;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Độ co giãn tốt', 
[MAVACH]=N''
WHERE [ID_SP] = 23;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Chất liệu cao cấp, bền bỉ', 
[MAVACH]=N''
WHERE [ID_SP] = 24;
UPDATE [dbo].[SAN_PHAM_CHI_TIET] SET 
[MOTA] = N'Ấp áp, dày dặn', 
[MAVACH]=N''
WHERE [ID_SP] = 5;
--









SET IDENTITY_INSERT [dbo].[TAI_KHOAN] ON 

INSERT [dbo].[TAI_KHOAN] ([ID], [ID_NV], [TENDANGNHAP], [MATKHAU]) VALUES (1, 1, N'quanly', N'827ccb0eea8a706c4c34a16891f84e7b')
INSERT [dbo].[TAI_KHOAN] ([ID], [ID_NV], [TENDANGNHAP], [MATKHAU]) VALUES (5, 3, N'nhanvien', N'827ccb0eea8a706c4c34a16891f84e7b')
SET IDENTITY_INSERT [dbo].[TAI_KHOAN] OFF
GO





SET IDENTITY_INSERT [dbo].[THUONG_HIEU] ON 

INSERT [dbo].[THUONG_HIEU] ([ID], [MA], [TEN]) VALUES (3, N'TT01', N'Adidas')
INSERT [dbo].[THUONG_HIEU] ([ID], [MA], [TEN]) VALUES (4, N'TT02', N'Nike')
INSERT [dbo].[THUONG_HIEU] ([ID], [MA], [TEN]) VALUES (5, N'TT03', N'Puma')
SET IDENTITY_INSERT [dbo].[THUONG_HIEU] OFF
GO
ALTER TABLE [dbo].[BANG_TICH_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANG_TICH_DIEM_KHACH_HANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACH_HANG] ([ID])
GO
ALTER TABLE [dbo].[BANG_TICH_DIEM] CHECK CONSTRAINT [FK_BANG_TICH_DIEM_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACH_HANG] ([ID])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NHAN_VIEN] ([ID])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[HOA_DON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_CT_HOA_DON] FOREIGN KEY([ID_HD])
REFERENCES [dbo].[HOA_DON] ([ID])
GO
ALTER TABLE [dbo].[HOA_DON_CT] CHECK CONSTRAINT [FK_HOA_DON_CT_HOA_DON]
GO
ALTER TABLE [dbo].[HOA_DON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_CT_SAN_PHAM_CHI_TIET1] FOREIGN KEY([ID_SPCT])
REFERENCES [dbo].[SAN_PHAM_CHI_TIET] ([ID])
GO
ALTER TABLE [dbo].[HOA_DON_CT] CHECK CONSTRAINT [FK_HOA_DON_CT_SAN_PHAM_CHI_TIET1]
GO
ALTER TABLE [dbo].[PHIEU_TRA_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_TRA_CHI_TIET_PHIEUDOITRA] FOREIGN KEY([ID_PIEU_DOI_TRA])
REFERENCES [dbo].[PHIEUDOITRA] ([ID])
GO
ALTER TABLE [dbo].[PHIEU_TRA_CHI_TIET] CHECK CONSTRAINT [FK_PHIEU_TRA_CHI_TIET_PHIEUDOITRA]
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDOITRA_HOA_DON] FOREIGN KEY([ID_HD])
REFERENCES [dbo].[HOA_DON] ([ID])
GO
ALTER TABLE [dbo].[PHIEUDOITRA] CHECK CONSTRAINT [FK_PHIEUDOITRA_HOA_DON]
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_CHAT_LIEU] FOREIGN KEY([ID_CL])
REFERENCES [dbo].[CHAT_LIEU] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_CHAT_LIEU]
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_KICH_CO] FOREIGN KEY([ID_KC])
REFERENCES [dbo].[KICH_CO] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_KICH_CO]
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_LOAITHETHAO] FOREIGN KEY([ID_LTT])
REFERENCES [dbo].[LOAITHETHAO] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_LOAITHETHAO]
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_MAU_SAC] FOREIGN KEY([ID_MS])
REFERENCES [dbo].[MAU_SAC] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_MAU_SAC]
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_SAN_PHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_THUONG_HIEU] FOREIGN KEY([ID_TH])
REFERENCES [dbo].[THUONG_HIEU] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_THUONG_HIEU]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_NHAN_VIEN] FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NHAN_VIEN] ([ID])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_NHAN_VIEN]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[xoaKhachHang] @id int
as
begin
   begin try
       begin tran
       delete from BANG_TICH_DIEM where ID_KH = @id
	   delete from KHACH_HANG where ID=@id
       commit tran
   end try
   begin catch
       print N'Thao tác xóa thất bại'
       rollback tran -- Roll back nếu không xóa được
   end catch
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[xosHoaDon] @id int
as
begin
   begin try
       begin tran
       delete from HOA_DON_CT where ID_HD = @id
	   delete from HOA_DON where ID=@id
       commit tran
   end try
   begin catch
       print N'Thao tác xóa thất bại'
       rollback tran 
   end catch
end
GO
DROP TABLE IF EXISTS [PHIEU_TRA_CHI_TIET];
DROP TABLE IF EXISTS [PHIEUDOITRA];


select*from PHIEU_GIAM_GIA_CHI_TIET
select*from HOA_DON_CT
select*from HOA_DON
select*from SAN_PHAM
select*from SAN_PHAM_CHI_TIET

delete from PHIEU_GIAM_GIA_CHI_TIET where ID=15



-- Xóa các hóa đơn chi tiết liên quan
DELETE FROM HOA_DON_CT WHERE ID_SPCT BETWEEN 54 AND 66;

-- Sau đó, xóa các sản phẩm chi tiết
DELETE FROM SAN_PHAM WHERE ID BETWEEN 33 AND 61;

select*from SAN_PHAM_CHI_TIET where MA=N'SPCT03'

update SAN_PHAM_CHI_TIET set GIANHAP=6000 where Ma=N'SPCT03'